.main{
    border-style: solid;
    padding: 10px;
    margin-bottom: 100px;

}

.main:hover{
    cursor: pointer;
}

.isOn{
    border-style: solid;
    padding: 10px;
    background-color: #19FF8C;
    color: white;
    width: 100px;
    margin-bottom: 30px;
}

.isOff{
    padding: 10px;
    width: 100px;
    background-color: #00B359;
    margin-bottom: 30px;
}