*{
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
    font-feature-settings: "liga", "kern";
    -webkit-font-feature-settings: "liga", "kern";
    -moz-font-feature-settings: "liga", "kern";
    color: white;
    
}
.header{
    background-color: #990000;
    display: grid;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 100px auto;
    column-gap: 125px;
    padding: 10px;
}
.subheader{
    background-color: #B30000;
    display: grid;
    grid-template-columns: 115px auto;
    padding: 30px;
    font-size: 1.5rem;

}
.subsubheader{
    background-color: #660000;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.main{
    background-color: gray;
    height: 500px;
    position: relative;
}

.outertext{
    color: black;
    display: grid;
    justify-content: center;
    position:absolute;
    left: 30%;
    bottom: -15%;
    background-color: white;
}
.text{
    color: black;
    padding:10px;
    display: grid;
    justify-content: center;
   
}

h5{
    color: #7a7a7a;
    margin-bottom: 0;
}
h2{
    color: black;
}
